body {
    background-color: hsl(44, 100%, 77%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh auto;
}

.todo-div>h1 {
    text-align: center;
    font-size: 3.5em;
    color: brown;
}

#input-field {
    border: 0px;
    width: 600px;
    height: 55px;
    font-size: 1.7em;
}

#add-btn {
    margin-left: 20px;
    width: 100px;
    height: 55px;
    background-color: black;
    border: 5px solid black;
    color: white;
}

ul {
    margin-left: -40px;
    display: grid;
    align-items: start;
    list-style-type: square;
    list-style-position: inside;
    color: black;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    margin-top: 20px;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

ul>li {
    padding-left: 15px;
    background-color: red;
    margin-top: 20px;
    color: white;
    font-size: 1.6em;
    width: 720px;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
}

ul>li:hover {
    background-color: darkred;
    text-decoration: line-through;
}

.canceled-item {
    text-decoration: line-through;
}

ul>li>img {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-top: -45px;
    background-color: red;
    margin-right: 20px;
    cursor: pointer;
}

ul>li>img:hover,
li {
    text-decoration: none;
    background-color: black;
}

@media screen and (max-width:600px) {
    #input-field {
        width: 65vw;
    }

    #add-btn {
        width: 15vw;
    }

    ul {
        min-height: 42vh;
    }

    ul>li {
        width: 82vw;
    }
}
